.categoryWithPhoto {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 15px;
  margin: 20px auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0 15px;

  &-main {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;

    &-item {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      padding: 6px 40px;
      background: #ffffff;
      cursor: pointer;
      transition: all 0.25s ease-in;

      &:hover,
      &:active {
        border: 2px solid #939393;
      }

      &_img,
      &_name {
        background: transparent;
      }

      &_img {
        max-width: 44px;
        max-height: 44px;
        width: 100%;
        height: 100%;
      }

      &_name {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      &--active {
        box-shadow: none;
        border: 2px solid #939393;
      }
    }
  }
}
