.plus {
  padding: 17px 14px;
  box-shadow: 0px 0px 10px 0px #00000040;
  border-radius: 5px;
  background: #ffff;
  border: none;
  cursor: pointer;

  & > img {
    background: transparent;
  }
}
